body
{
    font-family: sans-serif;
    background: linear-gradient(45deg,  #edabff,rgb(150, 248, 255));
}
header
{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    height: 95px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    padding: 10px;
}

.logo
{
    display: flex;
    align-items: center;
}
h2
{

    color: white;

}
a
{
 text-decoration: none;
 color: rgb(255, 248, 248);
}

nav a
{
    color: white;
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover
{
    color: rgb(149, 146, 239);
}

.funciones
{
    background-color: rgb(140, 198, 253);
    height: 370px;
    margin: 30px;
    padding: 35px;
    border-radius: 40px;

    display: flex;
    align-items: start;
    justify-content:center;
    flex-direction:row;
}

.funciones .carta1
{
    background: linear-gradient(45deg, rgb(121, 246, 255), #e5aaf5);
    height: 300px;
    width: 400px;
    padding: 15px;
    border-radius: 120px;
    text-align: center;
    margin: 12px;  


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    
}

.funciones .carta2
{
    background: linear-gradient(45deg, rgb(121, 246, 255), #e5aaf5);
    height: 300px;
    width: 400px;
    padding: 15px;
    border-radius: 100px;
    text-align: center;   
    margin: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.funciones .carta3
{
    background: linear-gradient(45deg, rgb(121, 246, 255), #e5aaf5);
    height: 300px;
    width: 400px;
    padding: 15px;
    border-radius: 100px;
    text-align: center;   
    margin: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    
}

button
{
    font-size: 0.8em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0,0.5);
    box-shadow: 2px 2px 10px  rgb(0, 0, 0,0.5);
    background-color: rgb(251, 221, 183);
}
img
{
    height: 100px;
    border-radius: 10px;
}






